.opacidad-aplicada{
    opacity: 0.2
}

.tarjetaUsada{
    max-height: 2.5rem;
    margin: 0.1rem;
    margin-top: 0.8rem;
}

.opacidad-normal{
    opacity: 1
}

.tarjetasAceptadas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
}