.tituloResaltante{
    margin: 2rem;
    color: #BA3B46;
    font-weight: 700;
}


.textoDisclaimer{
    margin: 1rem;
    font-size: calc(0px + 0.8vw + 0.6rem);
    color: #3681B8;
    font-weight: 600;
}

.mensajeFinalDestacado{
 color: #BA3B46;
 font-weight: 700;
 margin: 2rem;
}

.logoDestacado{
    width: calc(30% + 8vh) ;
}