.tituloPrincipal{
    font-size: calc(4px + 1.4vw + 0.8rem);
    font-weight: 700;
    margin: 1rem;
    color: #3681B8;
}

.tituloEnunciativo{
    font-size: calc(0px + 1.4vw + 0.8rem);
    margin: 0.7rem;
    margin-bottom: 1rem;
    color: #5FAD57;
}

.numeroDeContacto{
    text-decoration: none;
    font-size: calc(0px + 1.4vw + 0.8rem);
    color: #5FAD57;
    font-weight: 600;
}

.botonDeSiguiente{
    background-color: #5FAD57;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    border: none;
    border-radius: 5px;
    padding: 5px;

  }

  .botonOrdenado{
    display: flex;
  }

  
  .botonDeSiguiente p {
    margin: 0.3rem
  }
  
  .botonDeSiguiente p {
    margin: 0.3rem;
    font-weight: 600;
  }



  .clickASiguiente{
    display: flex;
    align-items: center;
  }

  @media (min-width: 600px) {

  .contenedorProductos{
    background-color: white;
    padding-left: 15vw;
    padding-right: 15vw;
  }


  .imagenProducto{
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 0.3rem;
   }

  .imagenProducto img{
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 20rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}


  }


  .listaDeProductos{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }



  @media (min-width: 2000px) {

    .contenedorProductos{
      background-color: white;
      padding-left: 8vw;
      padding-right: 8vw;
    }
  
  
    .imagenProducto{
      display: flex;
      align-items: center;
      width: 100%;
      padding-right: 0.3rem;
     }
  
    .imagenProducto img{
      object-fit: cover;
      overflow: hidden;
      width: 100%;
      height: 20rem;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      border-radius: 10px;
  }
  
  
    }


    .loaderInvisible{
      display: none;
  }

  .logoLanding{
    width: calc(50% + 2rem);
  }