.tituloPrincipal{
    font-size: calc(4px + 1.4vw + 0.8rem);
    font-weight: 700;
    margin: 1rem;
}

.tituloEnunciativo{
    font-size: calc(0px + 1.4vw + 0.8rem);
    margin: 0.7rem;
    margin-bottom: 1rem;
}

.numeroDeContacto{
    text-decoration: none;
    font-size: calc(0px + 1.4vw + 0.8rem);
    color: #A7C94E;
    font-weight: 600;
}

.botonDeSiguiente{
    background-color: #A7C94E;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    border: none;
    border-radius: 5px;
    padding: 5px;

  }

  .botonOrdenado{
    display: flex;
  }

  
  .botonDeSiguiente p {
    margin: 0.3rem
  }
  
  .botonDeSiguiente p {
    margin: 0.3rem;
    font-weight: 600;
  }



  .clickASiguiente{
    display: flex;
    align-items: center;
  }

  @media (min-width: 600px) {

  .contenedorProductos{
    background-color: white;
    padding-left: 15vw;
    padding-right: 15vw;
  }
  }