.botonAgregarMasProductos{
    background: none;
    color: #F23440;
    font-weight: 500;
    border: none;
    
}

.productoAdicionalAAgregar .botonAgregarMasProductos{
    background: none;
    color: #3681B8;
    font-weight: 500;
    border: none;
    
}

.productoAdicionalAAgregar .botonAgregarMasProductos p{
    background: none;
    color: #3681B8;
    font-weight: 500;
    border: none;
    margin: 0;
    
}

.tituloForm{
    display: flex;
    margin-top: 0.5rem;
}

.inputForm{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.productoAdicionalAgregado{
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    border: grey solid 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    padding-left: 0.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.productoAdicionalAAgregar{
    display: grid;
    grid-template-columns: 10fr 2fr ;
    align-items: center;
    border: grey solid 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    padding-right: 0.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}




.detallesDeProductoAgregado{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.contenedorBotonAgregarNuevo{
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
}

.contenedorBotonAgregarNuevo p{
    margin: 0;
}

.agregarProductoAdicional{
    cursor: pointer;
}

.labelProductoAdicional label{
    color: #5FAD57 !important;
    font-size: 16px !important;
}