.botonAgregarMasProductos{
    background: none;
    color: #F23440;
    font-weight: 500;
    border: none;
    
}

.tituloForm{
    display: flex;
    margin-top: 0.5rem;
}

.inputForm{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.productoAdicionalAgregado{
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    border: grey solid 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    padding-left: 0.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}




.detallesDeProductoAgregado{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.contenedorBotonAgregarNuevo{
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
}

.contenedorBotonAgregarNuevo p{
    margin: 0;
}