
.navBar{
    background-color: white;
    display: flex;
    flex-flow: column;

}

.navBar a{
 margin: 0;
}


    .tituloNav{
        color: #191D74 !important;
        padding-left: 4rem;
        padding-right: 4rem;
        font-size: 1rem;
    }

    .navbar-toggler{
        color: #191D74;
        border: none !important;
    }
    
    .navbar-toggler:focus {
        color: #191D74;
        border: none !important;
    }


    @media (min-width: 600px) {

        .navBarContainer{
          background-color: white;
          padding-left: 15vw;
          padding-right: 15vw;
        }
        }

.cuerpoToggle{
    display: block;
    text-align: end;
    align-items: flex-end;
    padding-left: 1rem;
    padding-right: 1rem;
}



.tituloHeader{
    font-size: calc(2px + 1vw + 0.8rem);
    font-weight: 700;
    margin: 0.2rem;
    color: #5FAD57;
}

.tituloHeaderFondo{
    font-size: calc(2px + 1vw + 0.8rem);
    font-weight: 700;
    margin: 0.2rem;
    color: #5FAD57;
    
}

.tituloHeaderWhatsapp{
    font-size: calc(2px + 1vw + 0.8rem);
    font-weight: 500;
    margin: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: #5FAD57;
}

.tituloHeaderDestacado{
    font-size: calc(2px + 1vw + 0.8rem);
    font-weight: 700;
    margin: 0.2rem;
    color: #BA3B46;
}

.infoDestacadaHeader{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textoInfoDestacadaHeader{
    font-size: calc(2px + 1vw + 0.8rem);
    font-weight: 700;
    margin: 0.2rem;
    color: #5FAD57;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-radius: 28px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}



.botonCopiado{
    background-color: #5FAD57 !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    border: none;
    border-radius: 28px;
    padding: 5px;
    margin: 0.3rem;
    font-weight: 700;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.logoNavToggle{
    display: flex;
    margin-top: 1rem;
    justify-content: flex-end;
}

.navbar-toggler:focus{
   color: #5FAD57 ;  
}

.whatsappIcon{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.botonCerrarSesion{
    background-color: #BA3B46;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    border: none;
    border-radius: 28px;
    padding: 5px;
    margin: 0.3rem;
    position: absolute;
    bottom: 50px;
    right: 30px;
    width: 50%;
    font-weight: 700;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}