
.navBar{
    background-color: white;
    display: flex;
    flex-flow: column;

}

.navBar a{
 margin: 0;
}


    .tituloNav{
        color: #191D74 !important;
        padding-left: 4rem;
        padding-right: 4rem;
        font-size: 1rem;
    }

    .navbar-toggler{
        color: #191D74;
        border: none !important;
    }
    
    .navbar-toggler:focus {
        color: #191D74;
        border: none !important;
    }


  